.form {
  max-width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
  /* background-color: #abb8c3; */
  border-radius: 8px;
  background-color: rgba(171,184,195,0.7);
  float: right;
}

.form div {
  text-align: center;
}

.form h3 {
  margin: 0 0 30px 0;
  text-align: center;
  font-weight: 500;
  font-size: 1.7vw;
}

.form img {
  margin: auto;
  height: 30px;
}

.form input {
  padding: 1%;
  margin: 5px 0 5px 0;
  border-radius: 5px;
  border: none;
  width: 100%;
  padding: 5px;
}

.message {
  border-radius: 5px;
  padding: 1%;
  margin: 5px 0 5px 0;
  width: 100%;
  border: none;
  padding: 5px;
}

.form button {
  padding: 16px 20px 16px 20px;
  margin: 5px auto;
  opacity: 1;
  background-color: rgb(3,166,150);
  border: rgb(3,166,150);
  color: white;
  border-radius: 5px;
  font-weight: 500;
  font-weight: 700;
  font-size: initial;
}

.form button:hover {
  background-color: white;
  border: rgb(3,166,150);;
  color:  rgb(3,166,150);
}

@media screen and (max-width: 768px) {
  .form {
    float: none;
  }

  .form h3 {
    font-size: 3.0vw;
    margin: 0 0 10px 0;
    font-weight: 500;
  }

  .form img {
    height: 35px;
    padding: 10px 0 10px 0;
  }
}